<main>

    <div class="container pt-3">

        <h2 class="font-weight-bold py-3">Dashboard <i class="fa fa-user" aria-hidden="true"></i> </h2>
        <h5>Welcome, <%- user.first_name %> </h5>

        <div class="py-3">
            <a href="/dashboard/driver_reg" class="btn btn-primary">Driver Registraton</a>
            <a href="/dashboard/vehicle_reg" class="btn btn-primary">Vehicle Registration</a>
        </div>

        <hr>

        <div class="row pt-3 col-12">

            <div class="col-md-6">
                <h3 class="font-weight-bold">Vehicle Information</h3>

                <div class="d-flex flex-wrap flex-column">

                    <div class="p-2 mb-3 border-bottom">
                       <h6 class="font-weight-bold"> Full Name </h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                       <h6 class="font-weight-bold"> Passport </h6>
                       <img src="/images/reg1.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                       <h6 class="font-weight-bold"> Proof Of ownership </h6>
                       <img src="https://res.cloudinary.com/daewfkfzs/image/upload/v1637925543/vehicle_reg/weve24lj9fpcbq3zvnpy.jpg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                       <h6 class="font-weight-bold"> Means of identification </h6>
                       <img src="/images/reg3.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Custom papers</h6>
                        <img src="/images/reg4.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Insurance Papers</h6>
                        <img src="/images/reg5.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Vehicle Image</h6>
                        <img src="/images/reg6.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Engine Number</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">State</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">LGA</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Age</h6>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <h3 class="font-weight-bold">Driver license Information</h3>

                <div class="d-flex flex-wrap flex-column">

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Full Name</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Driver License Document</h6>
                        <img src="/images/reg7.jpeg" width="400" height="300" alt="" loading="lazy">
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">State of Origin</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">LGA of origin</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Date Issued</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Exipiry Date</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Date of Birth</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Blood Group</h6>
                    </div>

                    <div class="p-2 mb-3 border-bottom">
                        <h6 class="font-weight-bold">Vehicle Category</h6>
                    </div>

                </div>
            </div>

        </div>

    </div>

</main>