<main>

    <div class="container pt-3">

        <a href="/dashboard" class="btn btn-primary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>

        <h2 class="font-weight-bold py-3">Vehicle Registration</h2>

        <% if (typeof message !== "undefined") { %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Success!</strong> 
                <%= message %> 
            </div>
        <% } %>

        <form action="/dashboard/vehicle_reg" method="POST" enctype="multipart/form-data">

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="">Full Name</label>
                        <input type="text" name="full_name" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Passport</label>
                        <input type="file" name="passport" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Upload Custom Papers</label>
                        <input type="file" name="custom_papers" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Means of Identification</label>
                        <input type="file" name="identification" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Upload Insurance Papers</label>
                        <input type="file" name="insurance_papers" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Proof of ownership</label>
                        <input type="file" name="proof_of_ownership" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Upload Vehicle Image</label>
                        <input type="file" name="vehicle_image" class="form-control" id="" required>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Engine Number</label>
                        <input type="text" name="engine_number" class="form-control" id="" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="">State</label>
                        <input type="text" name="state" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">LGA</label>
                        <input type="text" name="lga" class="form-control" id="" required>
                    </div>

                    <div class="form-group">
                        <label for="">Age</label>
                        <input type="number" name="age" class="form-control" id="" required>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <button class="btn btn-primary">Submit Information</button>
            </div>

        </form>

    </div>

</main>