    <main>

        <div class="container text-center pt-3">
            <h2 class="font-weight-bold py-3">Vehicle Identification & Plate Number Registration Portal</h2>
            <img src="/images/vehiche.png" width="800" alt="">
            <h2 class="py-4 font-weight-bolder">Register your Vehicle</h2>
        </div>

    </main>
