<main>

    <div class="container pt-3">
       
        <form action="/test-upload" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                
                <label for="">Upload Image</label>
                <input type="file" name="image" src="" class="form-control" alt="">

                 <button class="btn btn-primary" type="submit">Submit</button>

            </div>

        </form>
        
    </div>

</main>
